block global

include _resolver

doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title= _title
    meta(name="viewport", content="viewport-fit=cover, width=device-width")
    meta(name="description", content=_siteDesc)
    meta(name="keywords", content=_siteKeywords)
    meta(property="og:site_name", content=_siteName)
    meta(property="og:description", content=_siteDesc)
    meta(property="og:title", content=_siteName)
    meta(
      property="og:image",
      content=`${_resolver(_depth, false)}image/og-image.png`
    )
    meta(property="og:url", content=_canonical)
    meta(property="og:type", content="website")
    meta(property="og:local", content="ja")
    //- link(rel="shortcut icon", href=`${_resolver(_depth, false)}image//favicon.ico`)
    //- link(rel="apple-touch-icon", href=`${_resolver(_depth, false)}image//apple-touch-icon.png`)
    link(
      rel="image_src",
      href=`${_resolver(_depth, false)}image//og-image.png`
    )
    link(rel="canonical", href=_canonical)
    link(href=`${_resolver(_depth, false)}style/main.scss`, rel="stylesheet")
    script(src=`${_resolver(_depth, false)}script/main.ts`, type="module")

  body
    header.Header
      h1= _title
      include _nav

    block contents

    footer.Footer
      p License: MIT
