doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title= _siteName
    meta(name="viewport", content="viewport-fit=cover, width=device-width")
    meta(name="description", content=_siteDesc)
    meta(name="keywords", content=_siteKeywords)
    link(rel="shortcut icon", href="../image/favicon.ico")
    link(rel="apple-touch-icon", href="../image/apple-touch-icon.png")
    link(
      rel="image_src",
      href="../image/og-image.jpg"
    )
    link(rel="canonical", href=_siteHost)
    link(href="../style/main.css", rel="stylesheet")
    script(src="../script/main.js" type="module")

  body
    h1 TKGスロット

    main
      p.Copy TKGをそろえて今日１日をハッピーに過ごそう！

      ul
        li 「スタート」ボタンを押すとTKG写真のシャッフルが始まるよ！
        li TKG写真の下の「ストップ」を押すとシャッフルが止まるよ！
        li 3つ「ストップ」を押して同じTKG写真だとXに投稿できるよ！
        li 全然揃わないけど怒らないでね！

      .Cabinet
        button.Start.Button スタート

        .Slot
          .Reel
            .Pict.-tkg000
              span.-invisible 0
            button.Button ストップ

          .Reel
            .Pict.-tkg000
              span.-invisible 0
            button.Button ストップ

          .Reel
            .Pict.-tkg000
              span.-invisible 0
            button.Button ストップ

        .Post(hidden)
          p.Arranged やったね！　TKGが揃いました〜！
          button.Button Xでシェアする

        p.Failed(hidden) 残念！　TKGが揃いませんでした〜

        button.Retry.Button(hidden) リトライ

    footer
      address.Address
        p
          | このウェブアプリは
          |
          a(href="https://twitter.com/otiext", target="_blank") oti
          |
          | が作りました。
        p
          a(href="https://github.com/oti/tkg-slot") GitHub

